.container-fluid{
    padding: 3rem 2rem 2rem 2rem;
    color: #fff;  
    background-color: #828282;
    align-items: center;
    display: flex;
    text-align: center;
}

.oracle{
    padding: 0 0 2rem 0;
}


.row {
    width: 100%;
}

img {
    width:200px;
    
}

p {
    margin: 0;
}

.social-links > a{
    color: #fff;
    margin: 5px;
}